{% extends "base.html" %}

{% block title %}edit profile{% endblock %}
{% block body %}
	<div id="profile_content">
		<h2>edit profile</h2>
		<form>
			Name: <input type="text" name="name"><br/>
			Website: <input type="text" name="website"><br/>
			<input type="checkbox" id="profile_genderCheckbox" name="specifyGender" onclick="genderCheckboxClick()">Specify gender<br/>
			<div id="profile_genderArea">
				Gender: <input type="text" id="genderName" name="genderName"><br/>
				Not sure? Use the <a href="/genderate">genderator!</a>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="/{{url_for('static', filename='js/jquery-1.7.2.js').lstrip('/')}}"></script>
	<script type="text/javascript">
		function genderCheckboxClick(){
			if (document.getElementById("profile_genderCheckbox").checked){
				document.getElementById("profile_genderArea").style.display = "inline";
			}
			else{
				document.getElementById("profile_genderArea").style.display = "none";
			}
		}
	</script>
{% endblock %}
